body{
	background-color: #0099ff;
	overflow-x:hidden;
}
#wrapper{
	max-width: 1024px;
	height: 0 auto;
	margin: 0 auto;
	border: solid 1px #0099ff;
	background-image: url(../img/bg.png);
	padding-bottom: 10px;
}
#nav{
	max-width: 980px;
	margin: 0 auto;
	min-height: 61px;

}
#link a{
	color: #fff;
}
#link a:hover{
	background: none;
}
#hme{
	background-image: url(../img/button.png);
}
#abt{
	background-image: url(../img/button.png);
	
}
#hs{
	background-image: url(../img/button2.png);
	margin-left: 3px;
}
#gl{
	background-image: url(../img/button2.png);
	margin-left: 3px;
}
#cnt{
	background-image: url(../img/button3.png);
	margin-left: 5px;
}
.mybtn{
	background-color: #fff;
}
#active{
	color: #003366;
}
#slide{
	max-width: 1000px;
	margin: 5px auto;
	padding: 0px;
}
.slide{
	max-width: 1000px;
}
#sec1{
	max-width: 990px;
	margin: 0 auto;
	min-height: 540px;
	background-color: #05a1c9;
	border-radius: 30px;
	padding: 20px;
	text-align: justify;
	color: #fff;
}
#fl a:hover{
	background: none;
}
#fl{
	max-width: 170px;
	min-height: 31px;
	background-image: url(../img/button.png);
}

#btm{
	position: relative;bottom: 45px;
	position: relative;left: 300px;
}
#foot{
	max-width: 990px;
	min-height: 96px;
	margin: 0 auto;
	background-color: #05a1c9;
	padding-top: 10px;
	border-radius: 30px;
	margin-top: 20px;
	color: black;
}
#foot li{
	list-style: none;
	color: #fff;
}
.soc{
	max-width: 100px;
	float: right;
	padding-right: 25px;
}

@media screen and (max-width: 768px) {
	#sec1{
		background-image: none;
	}

    #main{
    	background-image: none;
    	
    }
    #hme{
	background-image: none;
}
#abt{
	background-image: none;
	
}
#hs{
	background-image: none;
	margin-left: 3px;
}
#gl{
	background-image: none;
	margin-left: 3px;
}
#cnt{
	background-image: none;
	margin-left: 5px;
}
    #rightabt{
    	margin-top: 20px;
    }
    .spc{
    	padding-top: 20px;
    }
    #tx{
    	margin-top: 20px;
    	margin-bottom;
    }
    #btm{
    	position: relative;bottom: 65px;
    	position: relative;left: 10px;
    }
    #foot{
	
	background-color: #05a1c9;
	padding-bottom: 10px;
	background-image: none;
}