@font-face {
  font-family: 'Variane Script';
  src: local('Variane Script'), local('Meltix'), url('../fonts/Variane Script.otf') format('OpenType');
  src:url('../fonts/Variane Script.otf') format('OpenType');
  }
#wrapper{
	width: 100%;
	height: 0 auto;
	background-image: url(../img/bg2.png);
	margin: 0 auto;
	background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.nav{
	position: fixed;
	margin-left: 150px;
}
.nav a{
	color: #fff;
	font-family: arial;
	margin-left: 10px;
	position: center;
	font-size: 12px;
	text-decoration-line: none;
	text-decoration: none;
}
.nav a:hover{
	background-color: #fb5255;
}

.nav a:active{
	background-color: #fb5255;
}

#container{
	max-width: 840px;
	height: 0 auto;
	background: transparent;
	background-image: linear-gradient(transparent, #2b2230, #2b2230);
	margin: 0 auto;
	
	box-shadow: 0 15px 15px 5px rgba(0,0,0,.90);
}
#li{

	list-style: none;
}
